@import "../../styles/variables";
@import "../../styles/colors";

.RadioGroup {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.Label {
  width: 100%;
  max-width: $max-width-card-small;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  box-shadow: inset 0 0 0 1px $silver-chalice-grey;
  border-radius: 6px;
  color: black;
  margin-bottom: 20px;

  &:last-of-type {
    margin-right: 0;
  }

  &Checked {
    color: $white;
    background-color: black;
    box-shadow: inset 0 0 0 1.5px black;
  }

  &:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 1.5px black;
  }
}

.RadioButton {
  min-width: 100%;
  padding: 20px 12px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}

.Radio {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus ~ .RadioButton {
    outline: -webkit-focus-ring-color auto 5px;
  }
}

@include breakpoint(medium) {
  .RadioGroup {
    flex-flow: row wrap;
    justify-content: center;
  }

  .RadioButton {
    min-width: 100%;
  }

  .Label {
    max-width: 140px;
    margin-bottom: 0;
    margin-right: 20px;
  }
}
